/* CSS Document */

body {
/*  margin-left: 320.0px;
  margin-right: 110.0px;
  padding: 0;
*/  color: #000;
  background-color: #fff;
  font: 76% Verdana, Arial, Helvetica, sans-serif;
}

table {
border:thin;
color:#000000;
}

table#qtab {
border:1.0px;
border-color:#00FFCC;
}

th
{
font-size:14px;
padding-left:2.0px;
padding-right:2.0px;

}

font
{
font-size:14px;
font-weight:bold;
color:#0000FF;
} 

.cont
{
font-size:12px;
font-weight:bold;
color: #FF0000;
} 


img {  border: none;  }
.inside { width:80.0px;}
.inside2 { width:50.0px;}
.inside3 { width:100.0px;}


table#tabins{
padding-left: 70.0px;
padding-top: 20.0px;

}

h1#titleins{
padding-left: 70.0px;

}

div#cpanel{
position:fixed;
right: 250.0px;
}


div#cpanel{
position:fixed;
right: 250.0px;
}


img#cpanel { 
border: none;
width: 75.0px;
height: 75.0px;
  }
  
img#quera {
  border: none;
  width: 25.0px;
  height:25.0px;
    }


a:hover img {  border: 2.0px red dotted;  }   